/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #386641;
  background-color: #89BE44;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #386641;
  background-color: #4C9A2A;
}

.wood-section {
  margin: 10px;
  padding: 10px;
  border: solid 1px #386641;
  background-color: #a7c959;
}

.bird-section {
  margin: 10px;
  padding: 10px;
  border: solid 1px #386641;
  background-color: #a7c959;
}

.psuedocode-section {
  margin: 10px;
  padding: 10px;
  border: solid 1px #386641;
  background-color: #a7c959;
}