/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #386641;
    background-color: #89be44;
  }
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #386641;
    background-color: #4c9a2a;
  }
  
  body {
    background-color: #22577a;
  }

  .special {
    background-color: #c7ea46cc;
    border: double 5px #4c9a2a;
    color: #386641;
    font-weight: bold;
}
  