/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #4C9A2A;
    background-color: #c7ea46cc;

  }

body {
    background-color: #22577a;
  }

  .photo-of-car {
  margin: 10px;
  max-width: 400px;
}